{% extends 'wordmap/base.html' %}
{% load static %}

{% block title %} Word Map {%endblock%}

{% block content %}
{% verbatim %}


<div id="search-box">
    <p><input v-model="input" v-on:keydown="change" type="text"></p>
    <p>検索ワード ： {{ search_word }}</p>
    <hr/>
    <div>
        <ol>
            <result-list v-for="result in resultList" :result-item="result"></result-list>
        </ol>
    <div>
</div>

{% endverbatim %}
{% endblock content %}
{% block vuescript %}
<script src="{% static "js/index.js" %}"></script>
{% endblock vuescript %}


